<html>
<head>
    <title>Greska</title>    
</head>
<body>
    <div class="container text-danger text-center">
        <h1>@ViewBag.ErrorMsg</h1>
        <a href="~/Home/Index">Pokusajte ponovo</a>
    </div>
</body>
</html>
